<div class="container">
    <h2>{{ personCtrl.person.firstName }}  {{ personCtrl.person.lastName }}</h2>
    <ul class="list-group">
        <li class="list-group-item"><b>FirstName</b>: {{ personCtrl.person.firstName }}</li>
        <li class="list-group-item"><b>MidleName</b>: {{ personCtrl.person.middleName }}</li>
        <li class="list-group-item"><b>LastName</b>: {{ personCtrl.person.lastName }}</li>
        <li class="list-group-item"><b>BirthDate</b>: {{ personCtrl.person.birthDate }}</li>
        <li class="list-group-item"><b>EmailAddress</b>: {{ personCtrl.person.emailAddress }}</li>
        <li class="list-group-item"><b>Age</b>: {{ personCtrl.person.age }}</li>
    </ul>
</div>